<navbar></navbar>

<div style="text-align:center">
  <h1>
    Welcome!
  </h1>  
</div>
<p>User name: {{currentUser.username}}</p>
<p>User name: {{currentUserData?.username}}</p>
<p>Premium points: {{currentUserData?.premium}}</p>
<p>Ranking points: {{currentUserData?.allPoints}}</p>

<div *ngFor="let town of currentUserData?.userTowns">
    <h3> Miasto {{town?.town?.name}}</h3>
    <h3> Miasto {{town?.name}}</h3>
    
    <table style="width:100%">
        <tr>            
            <th>Name:</th> 
            <th>Points:</th>
            <th>Point X:</th>
            <th>Point Y:</th>
            <th>Iron:</th>
            <th>Wood:</th>
            <th>Clay:</th>
            <th>Mana:</th>            
        </tr>
        <tr>            
            <td>{{town?.town?.name}}</td> 
            <td>{{town?.town?.points}}</td>
            <td>{{town?.town?.pointX}}</td>
            <td>{{town?.town?.pointY}}</td>
            <td>{{town?.town?.iron}}</td>
            <td>{{town?.town?.wood}}</td>
            <td>{{town?.town?.clay}}</td>
            <td>{{town?.town?.mana}}</td>  
        </tr>    
    </table>
    <br />

    <table style="width:100%">
        <tr>            
            <th>buildings level:</th>
            <th></th>
            <th>buildings name:</th>           
            <th>buildings description:</th>            
        </tr>
        <tr *ngFor="let building of town?.town?.buildings">            
            <td>{{building.level}}</td>
            <td>
                <button (click)="upLevel(1)">+</button> / 
                <button (click)="downLevel()">-</button>                
            </td>
            <td>{{building.building.name}}</td>            
            <td>{{building.building.description}}</td>
        </tr>
    </table>
    <br />

    <table style="width:100%">
        <tr>            
            <th>Soldier name:</th>
            <th>Soldier descryption:</th>           
            <th>Soldier strenght:</th>
            <th>Soldier defence:</th>
            <th>Soldier hp:</th>
            <th>Soldier speed:</th>
            <th>Soldiers quantity:</th>
        </tr>
        <tr *ngFor="let soldier of town?.town?.townSoldierTypes">            
            <td>{{soldier.soldierTypes.name}}</td>
            <td>{{soldier.soldierTypes.description}}</td>
            <td>{{soldier.soldierTypes.strenght}}</td>
            <td>{{soldier.soldierTypes.defence}}</td>
            <td>{{soldier.soldierTypes.hp}}</td>
            <td>{{soldier.soldierTypes.speed}}</td>                       
            <td>{{soldier.quantity}}</td>
        </tr>
    </table>
    <br />

</div>
<p><a [routerLink]="['/login']">Logout</a></p>





<!--
<div>
    <h1>Yours current town</h1><br />

    <table style="width:100%">
        <tr>
            <th>Id:</th>
            <th>Name:</th> 
            <th>Points:</th>
            <th>Point X:</th>
            <th>Point Y:</th>
            <th>Iron:</th>
            <th>Wood:</th>
            <th>Clay:</th>
            <th>Mana:</th>            
        </tr>
        <tr>
            <td>{{towns?.id}}</td>
            <td>{{towns?.name}}</td> 
            <td>{{towns?.points}}</td>
            <td>{{towns?.pointX}}</td>
            <td>{{towns?.pointY}}</td>
            <td>{{towns?.iron}}</td>
            <td>{{towns?.wood}}</td>
            <td>{{towns?.clay}}</td>
            <td>{{towns?.mana}}</td>  
        </tr>    
    </table>

    <br />
    
    <table style="width:100%">
        <tr>
            <th>buildings id:</th>
            <th>buildings name:</th>
            <th>buildings level:</th>
            <th>buildings description:</th>
        </tr>
        <tr *ngFor="let building of towns?.buildings">
            <td>{{building.id}}</td>
            <td>{{building.name}}</td>
            <td>{{building.level}}</td>
            <td>{{building.description}}</td>
        </tr>
    </table>

</div>









    <p *ngFor="let town of towns">
                <td>{{town.buildings.id}}</td>
                <td>{{town.buildings.name}}</td>
                <td>{{town.buildings.level}}</td>
                <td>{{town.buildings.description}}</td>
            </p>




{{test}}

<ul>
        <li *ngFor="let user of users">
            {{town.name}} 
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>





<div>
    <p>User name: {{currentUser.username}}
<h1>Users:</h1>
<div *ngFor="let users of user">
    <ul>
        <li>User id: {{users.id}} </li>
        <li>Name: {{users.name}}</li>
        <li>Email: {{users.email}}</li>
        <li>Password: {{users.password}}</li>
        <li>Premium points: {{users.premiumPoints}}</li>
        <li>Points: {{users.allPoints}}</li>
    </ul>
</div>
<h1>curenroe</h1>
{{currento}}
<h1>curnetouser</h1>

<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with Angular 2!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>


lolo
<h1>Town</h1>
            <div *ngFor="let town of towns">
            <h4>{{town.name}}</h4>
            <p>{{town.id}}</p>
        </div>   -->